@font-face {
  font-family: SourceSansPro;
  src: url(SourceSansPro-Regular.ttf);
}

.clearfix:after {
  content: "";
  display: table !important;
  clear: both;
}

#span-pdf { color: #0087C3; text-decoration: none;}

#body-pdf {
  position: relative;
  width: 8cm;  
  height: auto; 
  margin: 0 auto; 
  color: #555555;
  background: #FFFFFF; 
  font-family: Arial, sans-serif; 
  font-size: 13px; 
  font-family: SourceSansPro;
  padding:'1em';
}

#header-pdf {
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #AAAAAA;
}

#logo {
  /* float: left; */
  margin-top: 8px;
  text-align: center;
}

#logo img {
  height: 90px;
  margin:auto;
}

#company {
  /* float: right; */
  text-align: center;
}


#details {
  margin-bottom: 20px;
}

#client {
  padding-left: 6px;
  /* border-left: 6px solid #0087C3; */
  float: left;
}

#client.to {
  color: #777777;
}

h2.name {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
}

#invoice {
  float: right;
  text-align: right;
}

#invoice h1 {
  color: #0087C3;
  font-size: 2em;
  line-height: 1em;
  font-weight: normal;
  margin: 0  0 10px 0;
}

#invoice .date {
  font-size: 1em;
  color: #777777;
}

.table-pdf {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

.table-pdf th,
.table-pdf td {
  padding: 5px;
  /* background: #EEEEEE; */
  text-align: center;
  border-bottom: 1px solid #FFFFFF;
}

.table-pdf th {
  white-space: nowrap;        
  font-weight: normal;
}

.table-pdf td {
  text-align: right;
}

.table-pdf td h3{
  color: black;
  /* color: #57B223; */
  font-size: 1em;
  font-weight: normal;
  margin: 0 0 0.2em 0;
}

.table-pdf .no {
  color: black;
  /* color: #FFFFFF; */
  font-size: 1em;
  /* background: #57B223; */
}

.table-pdf .desc {
  text-align: left;
}

.table-pdf .unit {
  background: #DDDDDD;
}

.table-pdf .total {
  /* background: #57B223; */
  /* color: #FFFFFF; */
  color: black;
}

.table-pdf td.unit,
.table-pdf td.qty,
.table-pdf td.total {
  font-size: 1em;
}

.table-pdf tbody tr:last-child td {
  border: none;
}

.table-pdf tfoot td {
  padding: 5px 10px;
  background: hsl(0, 0%, 100%);
  border-bottom: none;
  font-size: 1em;
  white-space: nowrap; 
  border-top: 1px solid #AAAAAA; 
}

.table-pdf tfoot tr:first-child td {
  border-top: none; 
}

.table-pdf tfoot tr:last-child td {
  color: black;
  /* color: #57B223; */
  font-size: 1em;
  border-top: 1px solid #57B223; 

}

.table-pdf tfoot tr td:first-child {
  border: none;
}

#thanks{
  font-size: 2em;
  margin-bottom: 50px;
}

#notices{
  padding-left: 6px;
  /* border-left: 6px solid #0087C3;   */
}

#notices .notice {
  font-size: 1em;
}

#footer-pdf {
  color: #777777;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #AAAAAA;
  padding: 8px 0;
  text-align: center;
}

